body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center; /* Center horizontally */
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

#content {
    padding: 40px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content vertically */
    width: 100%; /* Content takes full width */
}

p {
    font-size: 1.2rem;
    line-height: 1;
    margin-bottom: 0px;
    max-width: 600px;
    text-align: center; /* Center paragraph text */
}

a {
    display: inline-block;
    padding: 15px 30px;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    text-decoration: none;
    border: 2px solid #fff; /* White border */
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    width: 200px;
    text-align: center;
    margin: 10px;
    box-sizing: border-box; /* Include border in width */
}

a:hover {
    background-color: #fff; /* White background on hover */
    color: #000; /* Black text on hover */
    border-color: #000; /* Black border on hover */
}

/* Responsive adjustments (optional) */
@media (max-width: 768px) {
    #content {
        padding: 20px;
    }
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
}